/*reglas generales*/

.hero{
    width: 100%;
    height: 530px; 
    background-image: url('principal.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    text-align: center;
}

body{
    font-family: 'Raleway';
    line-height: 1.5;
}

h1, h2, h3{
    font-family:'Playfair';
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 2rem;
}
a {
  color: black;           /* Cambia el color del texto del enlace */
  text-decoration: none;  /* Quita el subrayado */
}

li {
  list-style: none;       /* Quita la viñeta o punto de la lista */
}

.contenedor1{
    display: flex;
    flex-direction: column;
}

.producto1{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 8px auto;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 8px;

}

.imgproducto1{
    width: 850px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('producto1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.info{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #037BC0;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 380px;
    align-items: center;
}

.info h3 {
      margin-top: 0;
      font-size: 24px;
}

.info p {
      line-height: 1.5;
}

.precio{
    font-size: 24px;
    margin: 15px 0;
    font-weight: bold;
}

.button{
    background-color: #84cc16;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.seccion2{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;   
}

.producto2 {
    display: flex;
    flex-direction: column;
    width: 610px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}
.seccion2img{
    width: 610px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgproducto2{
    background-image: url('producto2.jpg');
}

.imgproducto3{
    background-image: url('producto3.jpg');
}

.producto3 {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
}

.seccion3img{
    width: 610px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgproducto4{
    background-image: url('producto4.jpg');
}

.imgproducto5{
    background-image: url('producto5.jpg');
}

.imgproducto6{
    background-image: url('producto6.jpg');
}


.categoriaimg{
    display: flex;
    flex-direction: row;
    width: 610px;
    height: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
  background-image: url('categoria1.jpg');
}

.img2 {
  background-image: url('categoria2.jpg');
}

.img3 {
  background-image: url('categoria3.jpg');
}


.categoria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    color: black;
    text-align: center; 
    border: none;
    gap: 20px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 80%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    width: 60%;   
}

.links h3{
    margin-left: 50px;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 62.5;
  font-style: normal;
}

.playfair-font {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Media Query*/

/** Reescribir colores */

/** Productos <img src="producto1.jpg" alt="Descripción de la imagen">*/
